@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../node_modules/@quasar/extras/material-icons-round/web-font/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2') format('woff2');
}

.material-icons-round {
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons Round';
  font-feature-settings: 'liga';
  font-size: var(--a-icon-md);
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
